/* frontend/src/index.css */

/* Silence VS Code on @apply + enable Tailwind v4 */
 /* eslint-disable css/unknownAtRules */
@import "tailwindcss";

/* Custom CSS */
body {
  background: #0f172a;
  color: #e6eef8;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.btn {
  @apply px-4 py-2 rounded-md font-medium;
}
